* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://ae01.alicdn.com/kf/Hbc3780e6a84849968d0b3c5b440ecf79W/Custom-photo-3d-wallpaper-Cartoon-super-burger-king-tv-background-living-room-decor-3d-wall-murals.jpg');
}

nav {
    border: 1px solid red;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;
}

h1 {
    font-weight: 700;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 72px;
    padding-left: 30px;
}

ul {
    list-style: none;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
}

img {
    background-image: none;
}